.permission-manager{
    width: 80%;
    /* height: 50vh; */
    background: white;
    color: black;
    position: relative;
    left: 18%;
    top: 90px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}